@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-fluid {
    position: relative;
    z-index: 1; 
}

/* Style pour le menu de navigation */
.menu-item {
    position: relative;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    list-style-type: none; 
    text-decoration: none;
}

.menu-item:hover {
    color: #00FF99;
    text-decoration: none;
}

/* Crée le trait vert au survol */
.menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00FF99;
    transition: width 0.3s ease;
}

.menu-item:hover::after {
    width: 100%;
}

/* Style pour centrer le contenu */
.full-height{
    height: 100vh; 
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin-top: -50px; 
}


/* Style pour le prenom */
.prenom-text-container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.prenom-text {
    font-weight: 400;
    font-style: italic;
    font-size: 2.2rem;
}

/* Style pour le texte défilant */
.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 4.5rem;
    border-right: .15em solid white;
    animation: typing 3.5s steps(40, end) infinite, blink-caret .75s step-end infinite;
}

/* Animation pour le texte défilant */
@keyframes typing {
    0% { width: 0 }
    50% { width: 100% }
    100% {width: 0}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}


/* Style pour l'iframe en arrière-plan */
#background-iframe {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    border: none; 
}

/* Media Queries pour ajuster la marge supérieure */

/* Très petits écrans (téléphones en mode portrait) */
@media (max-width: 575.98px) {
    .center-content {
        margin-top: -20px; /* Ajustez selon vos besoins */
    }
}

/* Petits écrans (téléphones en mode paysage et petites tablettes) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .center-content {
        margin-top: -30px; /* Ajustez selon vos besoins */
    }
}

/* Écrans moyens (tablettes) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .center-content {
        margin-top: -40px; /* Ajustez selon vos besoins */
    }
}

/* Grands écrans (ordinateurs de bureau) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .center-content {
        margin-top: -50px; /* Ajustez selon vos besoins */
    }
}

/* Très grands écrans (grands ordinateurs de bureau) */
@media (min-width: 1200px) {
    .center-content {
        margin-top: -60px; /* Ajustez selon vos besoins */
    }
}



#about-me {
    position: relative;
    z-index: 2;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.photo-du-goat {
    width: 100%;
    height: 600px;
    background-color: #d3d3d3; /* Placeholder color */
    border: 2px solid white; /* Placeholder border */
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-du-goat p {
    font-weight: bold;
}


/* Style pour la barre défilante */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: #222; 
}
::-webkit-scrollbar-thumb {
background: #00FF99; 
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: #00cc7a; 
}

.separator {
    width: 1000px;
    height: 3px;
    background-color: #00FF99; /* Couleur du trait */
    margin: 0 auto; /* Centre le trait horizontalement */
    margin-bottom: 4rem;
    border-radius: 10px; /* Arrondir les bords */
}